* {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-family: "Silkscreen", cursive;
}

.pkmLogo {
    width: 10%;
}

h3 {
    text-align: center;
}
.ui {
    border-style: double;
    border-width: 5px;
    border-color: black;
    border-radius: px;
}

.card-img-top {
    image-rendering: pixelated;
}

.progress {
    margin-left: 10px;
    margin-right: 10px;
}
.hp {
    margin-left: 20px;
}

h1 {
    color: aliceblue;
}
.moreInfoButton:active {
    transition: 1sec ease;
}
